@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color:  rgb(117,117,117);
}

div.header {
  display: flex;
  flex-direction: row;
  padding: 20px;
  color: rgb(117,117,117);
}

div.footer {
  display: flex;
  flex-direction: row;
  background-color: rgb(240,240,240);
  padding: 20px;
  flex-shrink: 0;
  justify-content: flex-end;
}
.left-links {
  flex: 1;
  align-items: center;
  justify-content: start;
  display: inline-flex;
  gap: 10px;
}

.right-links {
  flex: 1;
  align-items: center;
  justify-content: end;
  display: inline-flex;
  gap: 10px;
}

div.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}